/* Подключение шрифтов*/
body {
  font-family: "Roboto", sans-serif;
}
p {
  color: #757575;
  font-weight: 400;
}
h1,
h2,
h3 {
  color: #212121;
}
a {
  text-decoration: none;
}
/* Блоки */
.first-section {
  /* background-color: #2f303a; */
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.our-team {
  margin: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}
footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.offers {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 70px;
}

.offers-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  color: #ffffff;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}
.footer {
  display: flex;
  align-items: baseline;
}
.main-container {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}
.our-work {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 90px;
}
.list-tasks {
  padding-bottom: 94px;
  padding-top: 94px;
  padding-left: 0px;
}
.border {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ececec;
  padding-top: 94px;
  padding-bottom: 90px;
}

/* Контейнер */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
}
.main-nav {
  display: flex;
  align-items: center;
}
.container-main-nav {
  display: flex;
}
.container-list-portfolio {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}
.portfolio-list-container {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding-bottom: 50px;
  padding-left: 0px;
}
.flex-list {
  border: 1px solid #eeeeee;

  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.flex-list:nth-child(3n) {
  margin-right: 0px;
}
.flex-list:hover,
.flex-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* Список */

ul {
  list-style-type: none;
}
.list-nav {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 93px;
  display: flex;
  padding: 0px;
}
.list-nav .item:not(:last-child) {
  margin-right: 50px;
}
/* ul */
.address-header {
  display: flex;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: auto;

  padding-top: 32px;
  padding-bottom: 32px;
}
.address-header .item-address:not(:last-child) {
  margin-right: 50px;
}
.buttom-container:not(:last-child) {
  margin-right: 8px;
}
.list-container {
  display: inline-block;
  display: flex;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding: 0px;
}
.list {
  display: block;
  width: 270px;
  margin-bottom: 30px;
}
.block-svg-item {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.list-svg-icon {
  display: block;

  background-color: #f5f4fa;
  border-radius: 4px;
}
.img {
  width: 370px;
}
.list:not(:last-child) {
  margin-right: 30px;
}
.our-team-list {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team-list:not(:last-child) {
  margin-right: 30px;
}

.portfolio-list-container {
  display: flex;
  margin: 0px;
  padding-bottom: 50px;
}
/* Цвет текста*/

/* Цвета и функционал ссылок*/
.excretion {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.excretion:hover,
.excretion:focus {
  color: #2196f3;
}
/* a */
.adress-excretion {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.icon-envelope-hover {
  margin-right: 10px;
}
.adress-excretion:hover,
.adress-excretion:focus {
  color: #2196f3;
}
.adress-excretion:hover .icon-envelope-hover,
.adress-excretion:focus .icon-envelope-hover {
  fill: #2196f3;
}
.icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.adress-excretion:hover .icon-smartphone,
.adress-excretion:focus .icon-smartphone {
  fill: #2196f3;
}

.adress-footerone {
  display: inline-block;
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}
.adress-footerone:hover,
.adress-footerone:focus {
  color: #2196f3;
}
.adress-footer {
  color: rgb(255, 255, 255, 60%);
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}
.adress-footer:hover,
.adress-footer:focus {
  color: #2196f3;
}
/*Кнопка*/
.buttom {
  display: block;
  margin: auto;
  padding: 10px 32px;
  min-width: 136px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: #ffffff;
  background-color: #2196f3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.buttom:hover,
.buttom:focus {
  color: #2196f3;
  background-color: #ffffff;
}

.buttomportfolio {
  display: block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  text-align: center;

  color: #212121;
  background-color: #e5e5e5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.buttomportfolio:hover,
.buttomportfolio:focus {
  color: #ffffff;
  background-color: #2196f3;
}

/* Логотип */
.logoheder {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
}
.weblogo {
  color: #2196f3;
}
.logofooter {
  display: inline-block;
  padding-bottom: 20px;

  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.addressfont {
  padding-top: 0;
  font-style: normal;
}
.footer-list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;

  line-height: 2;
}
a.font-style {
  font-family: "Roboto", sans-serif;
}
/* текст */
.font-text-one {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 696px;

  padding-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.font-text-three {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.paragraph {
  margin-top: 0px;
  margin-bottom: 0px;

  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.font-text-two {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.font-text-three-comand {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 30px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.paragraph-comand {
  margin-top: 0px;
  margin-bottom: 16px;
  padding-bottom: 0px;
  text-align: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.list-portfolio {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: 0.06em;
}
.list-portfolio-paragraph {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 24px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.address {
  font-style: normal;

  padding-top: 0px;
}
/* ДЗ 4 */
.img-container {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/Img.jpg");
  background-position: center;
  background-size: cover;
}
.company {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* ul */
.list-company {
  display: flex;
  margin: 0;
  padding: 0px;
}
.list-border:not(:last-child) {
  margin-right: 30px;
}
/* a */
.link-befor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
/* svg */
.svg-logo {
  fill: #afb1b8;
}
.link-befor:hover {
  border: 1px solid #2196f3;
}
.link-befor:hover .svg-logo,
.link-befor:focus .svg-logo {
  fill: #2196f3;
}

/* Social links */
/* ul */
.social-links-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 32px 30px 32px;
  padding: 0px;
}
.social-links-list:not(:last-child) {
  margin-right: 10px;
}
/* a */
.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
}
/* svg */
.our-team-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.social-icons-link:hover {
  background-color: #2196f3;
}

.social-icons-link:hover .our-team-svg,
.social-icons-link:focus .our-team-svg {
  fill: #fff;
}

/* footer */
/* ul */
.offers-list {
  display: flex;
  margin: 0px;
  padding: 0;
}
/* a */
.footer-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
/* svg */
.footer-svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.footer-icons-link:hover {
  background-color: #2196f3;
}
.social-footer-links:not(:last-child) {
  margin-right: 10px;
}
